<!--
<div>
  <div>
    <button
      class="button fancy-button"
      matTooltip="Log in or register."
      [matMenuTriggerFor]="loginOptions"
    >
      <i class="material-icons">perm_identity</i>
      Jump in!
    </button>
    <mat-menu #loginOptions="matMenu" [hasBackdrop]="false" xPosition="before">
      <div
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
      >
        <app-login></app-login>
      </div>
    </mat-menu>
  </div>
</div>
-->
<div>
<div>
  <button
    class="button fancy-button"
    matTooltip="Log in or register."
    routerLink='/private'
  >
    <i class="material-icons">perm_identity</i>
    Jump in!
  </button>
</div>
</div>