/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Global Styles */

/* Top Bar */
app-top-bar {
  width: 100%;
  background-color: rgb(72, 223, 12);
  padding: 16px;
  display: flex;
  flex-direction: column;
}

/* Container */
app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Footer */
app-footer {
  width: 100%;
  background-color: black;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  padding: 8px;
}

router-outlet + *  {
  
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(72, 223, 12);
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: rgb(43, 131, 8);
}

.fancy-button i.material-icons {
  color: rgb(43, 131, 8);
  padding: 4px;
}

.button-fixw {
  width: 2180px;
  max-width: 180px;
}

.word-button {
  background-color: 1976d2;
  color: white;
}

.word-button i.material-icons {
  color: white;
  padding-right: 4px;
}

/* Public Content */
public-content {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
login-register {
  width: 20%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
register {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

app-login {
  height: 380pt;
  width: 180pt;
  padding: 8pt;
  background-color: rgb(72, 223, 12);
  display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //align-items: center;
}

.logo {
  color: white;
  margin: 0;
}

